.container-fluid {
    img{
        width: 100px;
        margin-left: 20px;

        &:hover{
            transition: .5s;
            transform: rotate(360deg);
        }
    }
    
}

.nav-link {
    color: $color-white;
    font-size: 20px;
    font-weight: bold;

    &:hover{
        color: #ccc;
    }
    // &::before, &::after{
    //         border-bottom: 2px solid $color-white;
    // }
    // &::before{
    //     bottom: -5px;
    //     width: 90%;
    //     right: 0;
    // }
    // &::after{
    //     bottom: -10px;
    //     width: 60%;
    //     left: 0;
    // }
}

.navbar-toggler {
    border: 1px solid white;
}

.bg-brown{
    background-color: $color-brown;
}
