.container-fluid {
    img{
        width: 100px;
        margin-left: 20px;

        &:hover{
            transition: .5s;
            transform: rotate(360deg);
        }
    }

    
}

.nav-link {
    color: $color-white;
    font-size: 20px;
    font-weight: bold;

    &:hover{
        color: #ccc;
    }
}

.navbar-toggler {
    border: 1px solid white;
}

.bg-brown{
    background-color: $color-brown;
}
