.carousel {
    animation: carousel 1s 1 linear;
}

@keyframes carousel {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bg-home {
    @include bg;
    background-image: url(../assets/images/ninos-participando-gris.png);
}

.btn-primary {
    background-color: $color-brown;
    border: 3px solid $color-brown;
    font-weight: bold;

    &:hover {
        background-color: transparent;
        border: 3px solid $color-brown;
        color: black;
        font-weight: bold;
    }
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: transparent;
    border: 3px solid $color-brown;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: $color-brown;
    border: 2px solid $color-brown;
    padding: 7px 18px;
    border: 2px solid $color-brown;
    border-radius: 5px;
    color: $color-white;

    &:hover {
        background-color: #583f38;
        border: 2px solid #583f38;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.294);
}

form {
    width: 500px;
    min-width: 10vh;
}

.img-quiero-ayudar {
    filter: brightness(70%);
    max-height: 700px;
}

.img-gray {
    filter: grayscale(100);

    &:hover {
        filter: grayscale(0);
        transition: 0.5s;
    }
}

span {
    background: linear-gradient(to bottom, $color-brown, rgb(186, 178, 9));
    color: transparent;
    background-clip: text;
    font-weight: bolder;
}

.card-index {
    max-width: 700px;
    transition: transform .5s ease;


    &:hover {
        transform: scale(1.05);
    }
}
