.maps{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.bg-maps {
    @include bg;
    background-image: url(../assets/images/ubi.png);
}

iframe{
    border: 0;
}